{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block ContenuPage %}
    <main id="inscription-main">
        <div class="formulaire">
            <h1>Inscription</h1>
            {% if message is defined %}
                <p>{{message}}</p>
            {% endif %}
            {{ form_start(formulaire) }}

                {{ form_label(formulaire.email) }}
                {{ form_widget(formulaire.email, {attr:{class:"email"}}) }}
                <div class="error">
                    {{ form_errors(formulaire.email) }}
                </div>

                {{ form_label(formulaire.username) }}
                {{ form_widget(formulaire.username, {attr:{class:"email"}}) }}
                <div class="error">
                    {{ form_errors(formulaire.username) }}
                </div>

                {{ form_label(formulaire.password) }}
                {{ form_widget(formulaire.password, {attr:{class:"email"}}) }}
                <div class="error">
                    {{ form_errors(formulaire.password) }}
                </div>

            {{ form_end(formulaire) }}
        </div>
    </main>
    
{% endblock %}